body {
  background-color: #090a0e;
  color: white;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}
.movie-cover {
  width: 100%;
}


.title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.input-class{
  text-align: center;
  margin-bottom: 2%;
  margin-left: 400px;
  margin-right: 400px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-button{
  color: rgba(71, 79, 110, 1);
}

.page-count{
  padding-bottom: 0px;
  margin-bottom: 0px;
}


